# APP
APP_ENV=dev
APP_PORT=3000

# DATABASE
DB_URL=mongodb://mongodb:27017/hotelook

# CRYPTO
# для продакшен изменить на 12000 CRYPTO_ITERATIONS
CRYPTO_SALT=hotelook
CRYPTO_ITERATIONS=1
CRYPTO_LENGTH=128
CRYPTO_DIGEST=sha512

SESSION_SECRET=sdfsdfsdfa

# FOLDER FOR UPLOAD FILES
UPLOAD_DEST=./uploads/photos
#MAX SIZE FOR IMG FILE IN REQUEST
MAX_IMG_FILE_SIZE=1048576
#MAX COUNT OF FILES PER REQUEST
MAX_COUNT_FILES=10
